/* media query */
@mixin responsive($breakpoint){
    @if $breakpoint == phone {
        @media screen and (max-width:414px){
            @content
        }
    };
    @if $breakpoint == tab{
        @media screen and (max-width:800px){
            @content
        }
    };
    @if $breakpoint == small_desktop{
        @media screen and (max-width:1462px){
            @content
        }
    };
    @if $breakpoint == desktop{
        @media screen and (max-width:1920px){
            @content
        }
    };
    @if $breakpoint == large_desktop{
        @media screen and (min-width:2000px){
            @content
        }
    };
}
@mixin flex($direction,$justify,$align-items) {
    display:flex;
    justify-content:$justify;
    align-items:$align-items;
    flex-direction:$direction;
}

%button-default{
    cursor: pointer;
    border-radius:3rem;
    padding:.8rem 1.6rem;
    font-size:1.4rem;
    background-color:#fff;
    border:1px solid rgb(176,176,176);
    transition: all .2s;
}
%button-hover{
    background-color: var(--pink-bnb);
    color: #fff;
    transform: translateY(-4px);
    border:1px solid var(--pink-bnb);
}